.btn-primary {
  color: #fff;
  background-color: #5BC3EB;
  border-color: #5BC3EB;
}

.btn-primary:hover {
  color: #fff;
  background-color: #53B2D6;
  border-color: #5BC3EB;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #96D8F2;
  border-color: #96D8F2;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #5BC3EB;
  border-color: #5BC3EB;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

h1 { color: #F06449; }

p { color: #36382E;}

.jumbotron {
  padding: 1rem 1rem;
  margin-bottom: 2rem;
  background-color: #F5F1EF;
}
